RequesterComponents/RequesterService/ChaiReq/WSDLs/TransferRS_rest.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<definitions
     name="Transfer"
     targetNamespace="http://xmlns.equitybank.co.ke/ESB/RS/Chai/Transfer/V1"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:ro="http://xmlns.equitybank.co.ke/ESB/RS/Chai/TransferRO/V1"
     xmlns:rs="http://xmlns.equitybank.co.ke/ESB/RS/Chai/Transfer/V1"
     xmlns:flt="http://xmlns.equitybank.co.ke/ESB/RS/Fault/V1"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.equitybank.co.ke/ESB/RS/Chai/TransferRO/V1" schemaLocation="../Schemas/TransferRO.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.equitybank.co.ke/ESB/RS/Fault/V1" schemaLocation="../Schemas/Error.xsd"/>
        </xsd:schema>
    </types>
    <message name="CreateRqMsg">
        <part name="payload" element="ro:ESBMsg"/>
    </message>
    <message name="CreateRsMsg">
        <part name="payload" element="ro:ESBMsg"/>
    </message>
    <message name="InternalServerErrorMsg">
        <part name="InternalServerErrorFault" element="flt:ServerError"/>
    </message>
    <message name="BadRequestMsg">
        <part name="BadRequestFault" element="flt:ApplicationError"/>
    </message>
    <portType name="TransferPort">
        <operation name="create">
            <input message="rs:CreateRqMsg"/>
            <output message="rs:CreateRsMsg"/>
            <fault name="InternalServerError" message="rs:InternalServerErrorMsg"/>
            <fault name="BadRequest" message="rs:BadRequestMsg"/>
        </operation>
    </portType>
    <binding name="TransferPortBinding" type="rs:TransferPort">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="create">
            <soap12:operation soapAction="create" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Transfer">
        <port name="TransferPort" binding="rs:TransferPortBinding">
            <soap12:address location=""/>
        </port>
    </service>
</definitions>
