ESBResources/ESBMetadata/ComponentLibrary/ProviderServices/EBiz/Project/V1/ProjectPS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:eo="http://xmlns.equitybank.co.ke/ESB/EO/Resilience/Project/V1" xmlns="http://wadl.dev.java.net/2009/02">
    <doc title="ProjectPS_rest">ProjectPS REST Service</doc>
    <grammars>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.equitybank.co.ke/ESB/EO/Resilience/Project/V1"
                        schemaLocation="../../../../EnterpriseObjects/Resilience/Project/V1/ProjectEO.xsd"/>
        </xsd:schema>
    </grammars>
    <resources>
        <resource path="/createProject">
            <method name="POST" soa:wsdlOperation="createProject">
                <request>
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </response>
            </method>
        </resource>
        <resource path="/queryProjectCost">
            <method name="POST" soa:wsdlOperation="queryProjectCost">
                <request>
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </response>
            </method>
        </resource>
        <resource path="/updateProject">
            <method name="POST" soa:wsdlOperation="updateProject">
                <request>
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </response>
            </method>
        </resource>
    </resources>
</application>
