ESBResources/ESBMetadata/ComponentLibrary/ProviderServices/Way4/Card/V1/CardPS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="CardPS" targetNamespace="http://xmlns.equitybank.co.ke/ESB/PS/Way4/Card/V1"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:eo="http://xmlns.equitybank.co.ke/ESB/EO/Instruments/Card/V1"
             xmlns:ps="http://xmlns.equitybank.co.ke/ESB/PS/Way4/Card/V1">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.equitybank.co.ke/ESB/EO/Instruments/Card/V1"
                  schemaLocation="../../../../EnterpriseObjects/Instruments/Card/V1/CardEO.xsd"/>
    </xsd:schema>
  </types>
  <message name="QueryCreditCardFeedRqMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <message name="QueryCreditCardFeedRsMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <message name="QueryCreditCardSummaryRqMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <message name="QueryCreditCardSummaryRsMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <message name="QueryCreditCardDetailsRqMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <message name="QueryCreditCardDetailsRsMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <portType name="CardPSPort">
    <operation name="queryCreditCardSummary">
      <input message="ps:QueryCreditCardSummaryRqMsg"/>
      <output message="ps:QueryCreditCardSummaryRsMsg"/>
    </operation>
    <operation name="queryCreditCardFeed">
      <input message="ps:QueryCreditCardFeedRqMsg"/>
      <output message="ps:QueryCreditCardFeedRsMsg"/>
    </operation>
    <operation name="queryCreditCardDetails">
      <input message="ps:QueryCreditCardDetailsRqMsg"/>
      <output message="ps:QueryCreditCardDetailsRsMsg"/>
    </operation>
  </portType>
  <binding name="CardPSPortBinding" type="ps:CardPSPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="queryCreditCardFeed">
      <soap12:operation soapAction="queryCreditCardFeed"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="queryCreditCardSummary">
      <soap12:operation soapAction="queryCreditCardSummary"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="queryCreditCardDetails">
      <soap12:operation soapAction="queryCreditCardDetails"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CardPS">
    <port name="CardPSPort" binding="ps:CardPSPortBinding">
      <soap12:address location=""/>
    </port>
  </service>
</definitions>