ESBResources/ESBMetadata/ComponentLibrary/ProviderServices/Polaris/File/V1/FilePS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="FilePS" targetNamespace="http://xmlns.equitybank.co.ke/ESB/PS/Polaris/File/V1"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:eo="http://xmlns.equitybank.co.ke/ESB/EO/Misc/File/V1"
             xmlns:ps="http://xmlns.equitybank.co.ke/ESB/PS/Polaris/File/V1">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.equitybank.co.ke/ESB/EO/Misc/File/V1"
                  schemaLocation="../../../../EnterpriseObjects/Misc/File/V1/FileEO.xsd"/>
    </xsd:schema>
  </types>
  <message name="FileNotifyRqMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <message name="FileNotifyRsMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <message name="TransferFileRqMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <message name="TransferFileRsMsg">
    <part name="payload" element="eo:ESBMsg"/>
  </message>
  <portType name="FilePSPort">
    <operation name="fileNotify">
      <input message="ps:FileNotifyRqMsg"/>
      <output message="ps:FileNotifyRsMsg"/>
    </operation>
    <operation name="transferFile">
      <input message="ps:TransferFileRqMsg"/>
      <output message="ps:TransferFileRsMsg"/>
    </operation>
  </portType>
  <binding name="FilePSPortBinding" type="ps:FilePSPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="fileNotify">
      <soap12:operation soapAction="fileNotify"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="transferFile">
      <soap12:operation soapAction="transferFile"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FilePS">
    <port name="FilePSPort" binding="ps:FilePSPortBinding">
      <soap12:address location=""/>
    </port>
  </service>
</definitions>