ESBResources/ESBMetadata/ComponentLibrary/RequesterServices/Misys/Account/V1/AccountRS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<definitions name="AccountRS" targetNamespace="http://xmlns.equitybank.co.ke/ESB/RS/Misys/Account/V1" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ro="urn:control.services.tiplus2.misys.com"
             xmlns:rs="http://xmlns.equitybank.co.ke/ESB/RS/Misys/Account/V1">
    <types>
        <xsd:schema>
            <xsd:import namespace="urn:control.services.tiplus2.misys.com" schemaLocation="../../AppMetadata/V1/Control.xsd"/>
        </xsd:schema>
    </types>
    <message name="AvailBalRqMsg">
        <part name="payload" element="ro:ServiceRequest"/>
    </message>
    <message name="AvailBalRsMsg">
        <part name="payload" element="ro:ServiceResponse"/>
    </message>
    <message name="AccountDetailsRqMsg">
        <part name="payload" element="ro:ServiceRequest"/>
    </message>
    <message name="AccountDetailsRsMsg">
        <part name="payload" element="ro:ServiceResponse"/>
    </message>
    <message name="AccountSearchRqMsg">
        <part name="payload" element="ro:ServiceRequest"/>
    </message>
    <message name="AccountSearchRsMsg">
        <part name="payload" element="ro:ServiceResponse"/>
    </message>
    <portType name="AccountRSPort">
        <operation name="availBal">
            <input message="rs:AvailBalRqMsg"/>
            <output message="rs:AvailBalRsMsg"/>
        </operation>
        <operation name="accountDetails">
            <input message="rs:AccountDetailsRqMsg"/>
            <output message="rs:AccountDetailsRsMsg"/>
        </operation>
        <operation name="accountSearch">
            <input message="rs:AccountSearchRqMsg"/>
            <output message="rs:AccountSearchRsMsg"/>
        </operation>
    </portType>
    <binding name="AccountRSPortBinding" type="rs:AccountRSPort">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="availBal">
            <soap12:operation soapAction="availBal"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="accountDetails">
            <soap12:operation soapAction="accountDetails"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="accountSearch">
            <soap12:operation soapAction="accountSearch"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AccountRS">
        <port name="AccountRSPort" binding="rs:AccountRSPortBinding">
            <soap12:address location=""/>
        </port>
    </service>
</definitions>
