ESBResources/ESBMetadata/ComponentLibrary/RequesterServices/Misys/Account/V1/AccountRS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:rs="http://xmlns.equitybank.co.ke/ESB/RS/Misys/Account/V1" xmlns:ro="urn:control.services.tiplus2.misys.com"
             xmlns="http://wadl.dev.java.net/2009/02">
    <doc title="AccountRS_rest">AccountRS REST Service</doc>
    <grammars>
        <xsd:schema>
            <xsd:import namespace="urn:control.services.tiplus2.misys.com" schemaLocation="../../AppMetadata/V1/Control.xsd"/>
        </xsd:schema>
    </grammars>
    <resources>
        <resource path="/availBal">
            <method name="POST" soa:wsdlOperation="availBal">
                <request>
                    <representation mediaType="application/xml" element="ro:ServiceRequest"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="ro:ServiceResponse"/>
                </response>
            </method>
        </resource>
        <resource path="/accountDetails">
            <method name="POST" soa:wsdlOperation="accountDetails">
                <request>
                    <representation mediaType="application/xml" element="ro:ServiceRequest"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="ro:ServiceResponse"/>
                </response>
            </method>
        </resource>
        <resource path="/accountSearch">
            <method name="POST" soa:wsdlOperation="accountSearch">
                <request>
                    <representation mediaType="application/xml" element="ro:ServiceRequest"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="ro:ServiceResponse"/>
                </response>
            </method>
        </resource>
    </resources>
</application>
