ESBResources/ESBMetadata/ComponentLibrary/ProviderServices/Polaris/Cheque/V1/ChequePS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:eo="http://xmlns.equitybank.co.ke/ESB/EO/Instruments/Cheque/V1" xmlns="http://wadl.dev.java.net/2009/02">
    <doc title="ChequePS_rest">ChequePS REST Service</doc>
    <grammars>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.equitybank.co.ke/ESB/EO/Instruments/Cheque/V1"
                        schemaLocation="../../../../EnterpriseObjects/Instruments/Cheque/V1/ChequeEO.xsd"/>
        </xsd:schema>
    </grammars>
    <resources>
         <resource path="/createChequeStatusUpdateFile">
            <method name="POST" soa:wsdlOperation="createChequeStatusUpdateFile">
                <request>
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </response>
            </method>
        </resource>
        <resource path="/createCTSHandoffFile">
            <method name="POST" soa:wsdlOperation="createCTSHandoffFile">
                <request>
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </response>
            </method>
        </resource>
         <resource path="/createChequeLiquidationStatusFile">
            <method name="POST" soa:wsdlOperation="createChequeLiquidationStatusFile">
                <request>
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </request>
                <response status="200">
                    <representation mediaType="application/xml" element="eo:ESBMsg"/>
                </response>
            </method>
        </resource>
    </resources>
</application>
