ESBResources/ESBMetadata/ComponentLibrary/ProviderServices/Polaris/Cheque/V1/ChequePS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="ChequePS" targetNamespace="http://xmlns.equitybank.co.ke/ESB/PS/Polaris/Cheque/V1" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:eo="http://xmlns.equitybank.co.ke/ESB/EO/Instruments/Cheque/V1" xmlns:ps="http://xmlns.equitybank.co.ke/ESB/PS/Polaris/Cheque/V1">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.equitybank.co.ke/ESB/EO/Instruments/Cheque/V1"
                        schemaLocation="../../../../EnterpriseObjects/Instruments/Cheque/V1/ChequeEO.xsd"/>
        </xsd:schema>
    </types>
    <message name="CreateChequeStatusUpdateFileRqMsg">
        <part name="payload" element="eo:ESBMsg"/>
    </message>
    <message name="CreateChequeStatusUpdateFileRsMsg">
        <part name="payload" element="eo:ESBMsg"/>
    </message>
     <message name="CreateCTSHandoffFileRqMsg">
        <part name="payload" element="eo:ESBMsg"/>
    </message>
    <message name="CreateCTSHandoffFileRsMsg">
        <part name="payload" element="eo:ESBMsg"/>
    </message>
     <message name="CreateChequeLiquidationStatusFileRqMsg">
        <part name="payload" element="eo:ESBMsg"/>
    </message>
    <message name="CreateChequeLiquidationStatusFileRsMsg">
        <part name="payload" element="eo:ESBMsg"/>
    </message>
    <portType name="ChequePSPort">
        <operation name="createChequeStatusUpdateFile">
            <input message="ps:CreateChequeStatusUpdateFileRqMsg"/>
            <output message="ps:CreateChequeStatusUpdateFileRsMsg"/>
        </operation>
         <operation name="createCTSHandoffFile">
            <input message="ps:CreateCTSHandoffFileRqMsg"/>
            <output message="ps:CreateCTSHandoffFileRsMsg"/>
        </operation>
         <operation name="createChequeLiquidationStatusFile">
            <input message="ps:CreateChequeLiquidationStatusFileRqMsg"/>
            <output message="ps:CreateChequeLiquidationStatusFileRsMsg"/>
        </operation>
    </portType>
    <binding name="ChequePSPortBinding" type="ps:ChequePSPort">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="createChequeStatusUpdateFile">
            <soap12:operation soapAction="createChequeStatusUpdateFile"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
         <operation name="createCTSHandoffFile">
            <soap12:operation soapAction="createCTSHandoffFile"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
         <operation name="createChequeLiquidationStatusFile">
            <soap12:operation soapAction="createChequeLiquidationStatusFile"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ChequePS">
        <port name="ChequePSPort" binding="ps:ChequePSPortBinding">
            <soap12:address location=""/>
        </port>
    </service>
</definitions>