ESBResources/ESBMetadata/ComponentLibrary/RequesterServices/Polaris/Transfer/V1/TransferRS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="TransferRS" targetNamespace="http://xmlns.equitybank.co.ke/ESB/RS/Polaris/Transfer/V1" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:rs="http://xmlns.equitybank.co.ke/ESB/RS/Polaris/Transfer/V1">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.equitybank.co.ke/ESB/RS/Polaris/Transfer/V1" schemaLocation="TransferRO.xsd"/>
        </xsd:schema>
    </types>
    <message name="CreateRqMsg">
        <part name="payload" element="rs:ESBMsg"/>
    </message>
    <message name="CreateRsMsg">
        <part name="payload" element="rs:ESBMsg"/>
    </message>
    <message name="QueryStatusRqMsg">
        <part name="payload" element="rs:ESBMsg"/>
    </message>
    <message name="QueryStatusRsMsg">
        <part name="payload" element="rs:ESBMsg"/>
    </message>
    <portType name="TransferRSPort">
        <operation name="create">
            <input message="rs:CreateRqMsg"/>
            <output message="rs:CreateRsMsg"/>
        </operation>
        <operation name="queryStatus">
            <input message="rs:QueryStatusRqMsg"/>
            <output message="rs:QueryStatusRsMsg"/>
        </operation>
    </portType>
    <binding name="TransferRSPortBinding" type="rs:TransferRSPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="create">
            <soap:operation soapAction="create"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
       <operation name="queryStatus">
            <soap:operation soapAction="queryStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TransferRS">
        <port name="TransferRSPort" binding="rs:TransferRSPortBinding">
            <soap:address location=""/>
        </port>
    </service>
</definitions>