ProviderComponents/ProviderService/EBizProv/Adapter/db/EBZ_DB_Adapter.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:adp="http://xmlns.equitybank.co.ke/ESB/PS/EBiz/Adapter/db" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="EBZ_DB_Adapter">This is a rest service of EBZ_DB_Adapter</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:adp="http://xmlns.equitybank.co.ke/ESB/PS/EBiz/Adapter/db" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <import namespace="http://xmlns.equitybank.co.ke/ESB/PS/EBiz/Adapter/db" schemaLocation="EBZ_DB_Adapter.xsd"/>
        </schema>
   </grammars>
   <resources>
      <resource path="/queryProjectCost">
         <method name="GET" soa:wsdlOperation="queryProjectCost">
            <request>
               <param name="startDate" style="query" soa:expression="$msg.payload/adp:startDate" default="" type="xsd:string"/>
               <param name="endDate" style="query" soa:expression="$msg.payload/adp:endDate" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:ProjectInfoCollection" xmlns:cns="http://xmlns.equitybank.co.ke/ESB/PS/EBiz/Adapter/db"/>
               <representation mediaType="application/json" element="cns:ProjectInfoCollection" xmlns:cns="http://xmlns.equitybank.co.ke/ESB/PS/EBiz/Adapter/db"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
